# Dependencies
node_modules/
mock-api/node_modules
web-app/node_modules

# IDE
.vscode/
.idea/
*.swp
*.swo

# Build outputs
web-app/dist/
web-app/.angular/

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local

# Misc
*.log
npm-debug.log*
